/* Global styles for the slides */

p {
  font-size: 1.5rem !important;
  line-height: 2.2rem !important;
  opacity: 1 !important;
}

ul {
  font-size: 1.5rem !important;
  line-height: 2.2rem !important;
}

h1 {
  color: #9ac9fb;
}
